<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpenScolaris</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    {% load static %}
</head>
<body>
    <style>
        @font-face {
            font-family: 'Inter';
            src: url('{% static "inter/Inter-Regular.ttf" %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    {% if user.is_student %}
        {% include 'navstudent.html' %}
    {% else %}
        {% include 'navteacher.html' %}
    {% endif %}
    {% include 'messages.html' %}
    <div style="margin-top: 50px; margin-left: 3%; margin-right: 3%;">
        {% block content %}
        {% endblock %}
    </div>



</body>
</html>
