<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpenScolaris</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/fomantic/semantic.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
    {% if user.is_student %}
        {% include 'navstudent.html' %}
    {% endif %}
    {% if user.is_teacher %}
        {% include 'navteacher.html' %}
    {% endif %}
    {% if user.is_admin %}
        {% include 'navadmin.html' %}
    {% endif %}

    {% include 'messages.html' %}
    <div style="margin-top: 50px; margin-left: 3%; margin-right: 3%;">
        <div class="ui grid">
            <div class="twelve wide column">
                {% block breadcrumb %}
                {% endblock %}
                <div class="ui {{user.main_ui_color}} raised segment" id="main_content_segment">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="four wide column">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
    <script>
        setInterval(() => {
            var date = new Date();
            var heures = ("0" + date.getHours()).slice(-2);
            var minutes = ("0" + date.getMinutes()).slice(-2);
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var dateString = date.toLocaleDateString('fr-FR', options);
            
            var dateStringCapitalized = dateString.replace(/\b\w/g, function(char) {
                return char.toUpperCase();
            });

            var timeString = heures + ":" + minutes;
            $("#time_nav").text(timeString + " - " + dateStringCapitalized);
        }, 1000);
    </script>
    {% include 'global_css.html' %}
    <script src="{% static 'global.js' %}"></script>
</body>
</html>
