<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpenScolaris</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/fomantic/semantic.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
    {% if user.is_student %}
        {% include 'navstudent.html' %}
    {% else %}
        {% include 'navteacher.html' %}
    {% endif %}
    {% include 'messages.html' %}
    <div style="margin-top: 50px; margin-left: 3%; margin-right: 3%;">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="ui raised segment">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="four wide column">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
</body>
</html>
