<div class="ui secondary menu" style="margin: 10px; margin-top: 5px;">
  <a href="{% url 'home' %}" class="item"><i class="home icon"></i>Accueil</a>
  <a href="{% url 'calendar' %}" class="item"><i class="calendar alternate icon"></i>Emploi du temps</a>
  <a href="{% url 'subjects' %}" class="item"><i class="book icon"></i>Cours</a>
  <a href="{% url 'marks' %}" class="item"><i class="percentage icon"></i>Notes</a>
  <a href="{% url 'homework' %}" class="item"><i class="clipboard list icon"></i>Devoirs</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Rechercher...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a href="{% url 'logout' %}" class="ui item">
      <i class="sign out alternate icon"></i>Déconnexion
    </a>
  </div>
</div>