{% extends 'base.html' %}

{% block content %}
<script src="https://fomantic-ui.com/javascript/library/tablesort.js"></script>
<div class="ui segment">
    <h2 class="ui header">Évaluation {{a.title}}</h2>
    <h2 class="ui header">Notes :</h2>
    {% if marks %}
    <table id="table" class="ui sortable celled table">
        <thead>
          <tr><th>Élève</th>
          <th>Note (/{{a.off}})</th>
        </tr></thead>
        <tbody>
            {% for stud,mk in marks %}
            <tr>
                <td>
                    {{stud.full_name}}
                </td>
                {% if mk.mark %}
                <td class="positive selectable" data-tooltip="Cliquer pour modifier la note" data-position="top center">
                    <a name="{{stud.id}}" class="modifybutton">{{mk.mark}}</a>
                </td>
                {% else %}
                <td class="negative">
                    <div style="margin-left: 10px;" class="ui action input">
                        <input type="number" class="givemarkinput" min="{{a.min}}" max="{{a.off}}" placeholder="">
                        <button name="{{stud.id}}" class="ui button validatebutton">Valider</button>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<script>
    $("table").tablesort();

        $("#table").on("click", ".validatebutton", function() {
        console.log("clicked on validate button");
        var button = $(this);
        var student_id = button.attr("name");
        var givemarkinput = button.prev(".givemarkinput");
        var value = givemarkinput.val();
        var url = `assessment_id/give-mark/student_id/`.replace("assessment_id","{{a.id}}").replace("student_id",student_id);
        console.log(url);
        $.post(url,{value : value},function(response){
            console.log(response);
            if (response.status == 200){
                var markCell = button.closest('td');
                markCell.attr("data-tooltip", "Cliquer pour modifier la note");
                markCell.addClass("positive").addClass("selectable").removeClass("negative");
                markCell.html(`<a name="${student_id}" class="modifybutton">${response.value}</a>`);
            }else{
                $.toast({
                    position : "top center",
                    message: response.error
                });
            }
        });

        });

        $("#table").on("click", ".modifybutton", function() {
            var button = $(this);
            var stud_id = button.attr("name");
            var cell = button.closest("td");

            var initialContent = cell.html();

            if (!cell.find(".givemarkinput").length) {
                // Remplacer le contenu uniquement si aucun champ d'entrée n'est présent
                cell.html('<div class="ui action input"> '+
                    '<input style="margin-left: 10px;" type="number" class="givemarkinput" min="{{a.min}}" max="{{a.off}}" placeholder="">'+
                    `<button name="${stud_id}" class="ui button validatebutton">Valider</button>`+
                    '</div>');
            } else {
                // Restaurer le contenu initial
                cell.html(initialContent);
            }
        });



</script>
{% endblock %}