{% extends 'base.html' %}

{% block content %}
<h2 id="home_header" class="ui header">Mes messages</h2>
{% for m in message_list %}
<div class="ui very relaxed list">
    <div class="item">
        <i class="blue large comment outline middle aligned icon"></i>
        <div class="content">
            <a href="{% url 'message' m.uuid %}" class="header">{{m.subject}}</a>
            <div class="description">Reçu le {{ m.sent_at|date:"j F Y" }} à {{ m.sent_at|time:"H:i" }}</div>
        </div>
    </div>
  </div>
{% endfor %}
{% endblock %}