{% extends 'base.html' %}

{% block content %}
<form class="ui form" method="post" action="{% url 'write-message' %}" enctype="multipart/form-data">
    <h2 class="ui header">Nouveau message</h2>
    <h4 class="ui dividing header">Destinataires</h4>
    {% csrf_token %}

    <div id="recipients" class="ui field">
        <div class="ui fluid multiple search normal selection dropdown" mutliple="">
            <input type="hidden" name="recipients">
            <i class="dropdown icon"></i>
            <div class="default text">Sélectionner des destinataires</div>
            <div class="menu">
                {% for u in user.recent_interlocutors %}
                <div class="item" data-value="{{u.username}}"><i class="{{u.main_ui_color}} {{u.role_icon_class}} icon"></i>{{u.full_name}} (<code>{{u.username}}</code>)</div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="ui special popup">
        <!-- <div class="header">Rechercher des destinataires</div> -->
        <div class="ui list">
            <div class="item">
              <i class="{{user.admin_main_ui_color}} {{user.admin_icon_class}} icon"></i>
              <div class="content">
                administratifs
              </div>
            </div>
            <div class="item">
              <i class="{{user.teacher_main_ui_color}} {{user.teacher_icon_class}} icon"></i>
              <div class="content">
                enseignants
              </div>
            </div>
            <div class="item">
              <i class="{{user.student_main_ui_color}} {{user.student_icon_class}} icon"></i>
              <div class="content">
                étudiants
              </div>
            </div>
        </div>
    </div>


<!--     <div class="ui field">
        <select name="recipients" class="ui fluid search dropdown" multiple="">
            <option value="">Sélectionner des destinataires</option>
            {% for u in users%}
                <option value="{{u.username}}">{{u.full_name}} ({{u.username}})</option>
            {% endfor %}
        </select>
    </div> -->

    <script>
/*         $('.ui.fluid.search.dropdown').dropdown({
            apiSettings: {
                url : "{% url 'browse-users' %}?query={query}",
                //url: 'https://api.github.com/search/repositories?q={query}'
                fields: {
                    remoteValues : 'items'
                },
            }
        }); */
        $('.ui.fluid.search.dropdown').dropdown();
        $("#field").popup({inline : true});
    </script>

    <h4 class="ui dividing header">Contenu du message</h4>

    <div class="field">
      <label>Objet</label>
      <input type="text" name="subject">
    </div>

    <div class="field">
        <label>Contenu</label>
        <textarea name="content"></textarea>
    </div>

    <div style="margin-bottom: 10px;" class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Ajouter une pièce jointe</label>
        </div>
    </div>

    <div style="margin-bottom: 10px;" id="fileinput" class="ui file input">
        <input id="attachment" name="attachments" type="file" multiple onchange="updateFileName()">
    </div>

    <div id="files_list_segment" class="ui stacked secondary segment">
        <h4 class="ui header">Pièces - jointes</h4>
        <div id="files_list" class="ui relaxed divided list">
        </div>
    </div>
    <button class="ui primary button" type="submit">Envoyer</button>
</form> 


<script>
    function updateFileName(){
        $("#files_list_segment").show();
        var files = document.getElementById("attachment").files;
        for (var i = 0; i < files.length; i++) {
            var name = files[i].name;
            var extension = name.split('.').pop().toLowerCase();

            var iconClass = getIconClass(extension);

            var fileSize;

            if (files[i].size < 1024 * 1024) {
                fileSize = (files[i].size / 1024).toFixed(2) + " Ko"; // Convertir en Ko si la taille est inférieure à 1 Mo
            } else {
                fileSize = (files[i].size / (1024 * 1024)).toFixed(2) + " Mo"; // Convertir en Mo sinon
            }

            $("#files_list").append(
                $('<div/>', {
                    class: 'item',
                    html: `<i class="large ${iconClass} middle aligned icon"></i>
                    <div class="content">
                        <p class="header">${name}</p>
                        <div class="description">${fileSize}</div> <!-- Afficher la taille du fichier -->
                    </div>`
                })
            );
        }
    }

    function getIconClass(extension) {
        var iconMap = {
            '3ds': 'file',
            'ai': 'file',
            'apk': 'file',
            'app': 'file',
            'avi': 'file video',
            'bmp': 'file image',
            'c': 'file code',
            'cpp': 'file code',
            'css': 'file code',
            'csv': 'database',
            'dat': 'file',
            'dmg': 'file archive',
            'doc': 'file word',
            'docx': 'file word',
            'exe': 'file',
            'flv': 'file video',
            'gif': 'file image',
            'h': 'file code',
            'html': 'file code',
            'ics': 'file alternate',
            'iso': 'file archive',
            'java': 'file code',
            'jpeg': 'file image',
            'jpg': 'file image',
            'js': 'file code',
            'json': 'file code',
            'log': 'file alternate',
            'm4a': 'file audio',
            'm4v': 'file video',
            'mov': 'file video',
            'mp3': 'file audio',
            'mp4': 'file video',
            'mpeg': 'file video',
            'mpg': 'file video',
            'odp': 'file powerpoint',
            'ods': 'file excel',
            'odt': 'file word',
            'ogg': 'file audio',
            'pdf': 'file pdf',
            'php': 'file code',
            'png': 'file image',
            'ppt': 'file powerpoint',
            'pptx': 'file powerpoint',
            'psd': 'file image',
            'py': 'file code',
            'rar': 'file archive',
            'rb': 'file code',
            'rtf': 'file alternate',
            'scss': 'file code',
            'sql': 'file code',
            'svg': 'file image',
            'tar': 'file archive',
            'tgz': 'file archive',
            'tif': 'file image',
            'tiff': 'file image',
            'txt': 'file alternate',
            'wav': 'file audio',
            'webm': 'file video',
            'wma': 'file audio',
            'wmv': 'file video',
            'xls': 'file excel',
            'xlsx': 'file excel',
            'xml': 'file code',
            'zip': 'file archive'
        };


        return iconMap[extension] || 'file';
    }

    document.addEventListener("DOMContentLoaded",function(){
        $("#fileinput").hide();
        $("#files_list_segment").hide();
    });

    $('.ui.checkbox').checkbox({
        onChecked : function(){
            $("#fileinput").show();
        },
        onUnchecked : function(){
            $("#fileinput").hide();
        }
    });
</script>
{% endblock %}